:root {
  --main: #5A5A76;
  --accent-1: #ecd4c4;
  --accent-2:#8ea5a5;
  --white: #fcfcfc;
  --black: #333333;

  font-family: monospace;
  background: var(--main);
  color: var(--main);
  /* background: bottom 0px right 0px no-repeat url("images/w.jpg"); */
  /* background-size: auto; */
  text-transform: lowercase;
  letter-spacing: 0.07rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  padding: 2vh;
  margin: 0 auto;
  font-size: 2.4rem;
}

h2 {
  font-size: 1.6rem;
  margin: 0 auto;
}
a{
  color:var(--main);
  letter-spacing: 0.1vh;
  border-radius: 3px;
  border-left: 5px;
  padding: 0 1vh 0 1vh;
  text-decoration: underline;
  transition: color ease 700ms,
  padding ease 333ms;
}
a:hover {
  padding-top: 1vh;
  padding-bottom: 1vh;
  opacity: 0.9;
  background: var(--main);
  border-radius: 3px;
  color: var(--accent-1);
  transition: background 700ms ease-out 0s, color 300ms ease-out 0s, padding 333ms ease-in 0s;

}

.container {
  display: flex;
  flex-wrap: wrap;
  /* width: 100vw; */
}
.container-column {
  margin:0;
  /* min-width: 10vh; */
  width: 84%;
}
.glow-main {
  -webkit-box-shadow:0px 0px 10px 1px rgba(90,90,118,0.58);
  -moz-box-shadow: 0px 0px 10px 1px rgba(90,90,118,0.58);
  box-shadow: 0px 0px 10px 1px rgba(90,90,118,0.58);
}
.glow-accent-1 {
  -webkit-box-shadow:0px 0px 10px 1px rgba(236,212,196,0.58);
  -moz-box-shadow: 0px 0px 10px 1px rgba(236,212,196,0.58);
  box-shadow: 0px 0px 10px 1px rgba(236,212,196,0.58);
}
.glow-accent-2 {
  -webkit-box-shadow:0px 0px 10px 1px rgba(142,165,165,0.58);
  -moz-box-shadow: 0px 0px 10px 1px rgba(142,165,165,0.58);
  box-shadow: 0px 0px 10px 1px rgba(142,165,165,0.58);
}
/*******
NAV
*******/
.nav {
  display:flex;
  background-color: var(--accent-1);
  width: 15%;
  flex-direction: column;
  min-height:100%;
  min-width:10%;
}

.nav-main {
  display:flex;
  flex-direction: column;
  height:80%;
}

.nav-additional {
  display:flex;
  flex-direction: row;
  margin: 0 auto;
  height:20%;
}

.nav-additional-container {
  display:flex;
  margin: 0 auto;
}

.nav-button {
  display:block;
  position:relative;
  padding: 1vh;
  margin: 0.4vh 0 0 0;
  text-transform: lowercase;
  letter-spacing: 0.07rem;
  background: transparent;
  color: var(--main);
  border-width: 0;
  border-radius: 0;
}

.nav-additional-container > .nav-button {
  align-self: center;
}

.nav-main > .nav-button:hover {
  padding: 2vh;
  opacity: 0.9;
  background: var(--main);
  border-radius: 3px;
  color: var(--accent-1);
    transition: background 700ms ease-out,
                color 300ms ease-out,
                padding 333ms ease-in;
}

.nav-additional-container  > .nav-button:hover {
  padding-top: 10%;
  padding-bottom: 10%;
  opacity: 0.9;
  background: var(--main);
  border-radius: 3px;
  color: var(--accent-1);
    transition: background 700ms ease-out,
                color 300ms ease-out,
                padding 333ms ease-in;
}

/*******
HEADER
*******/
.header {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
}

.header-search {
  display:flex;
  width: 80%;
  align-self: center;
}

.header-search > input[type="search"] {
  min-width: 88%;
  background: transparent;
  border-style: outside;
  outline: none;
  margin-left:2vh;
  border-left-width: 0;
  border-top-width:0;
  border-right-width:0;
  border-bottom-width:3px;
  border-style: double;
  /* border-radius: 3px; */
  border-color:var(--accent-1);
  color: var(--accent-1);
  transition: border 200ms ease-out,
              color 200ms ease-out;
}

.header-search > input[type="search"]::placeholder {
  color: var(--accent-1);
}

.header-search > input[type="search"]:hover {
  color: var(--accent-1);
  /* border-bottom-width:3px; */
  border-color:var(--accent-1);
}

.header-search > input[type="search"]:focus {
  color: var(--accent-1);
  /* border-color:var(--accent-1); */
  -webkit-box-shadow:0px 0px 10px 1px rgba(236,212,196,0.58);
  -moz-box-shadow: 0px 0px 10px 1px rgba(236,212,196,0.58);
  box-shadow: 0px 0px 10px 1px rgba(236,212,196,0.58);
}

.header-info {
  display:flex;
  margin:0 auto;
  color:var(--accent-1);
  width: 20%;
}

.header-item {
  margin: 0 auto;
  padding: 1vh; 
}

.header-avatar {
  max-width: 100%;
  height: 7vh;
  object-fit: contain;
  border-radius: 23%;
}

.online {
  color:#a0f087;
}

.header-button-icon {
  background: transparent;
  color: var(--accent-1);
  border-style: hidden;
  transition: color 200ms ease-out;
}


.header-button-icon:hover {
  color: var(--accent-2);
  /* background: var(--accent-1); */
  /* padding-left:1vh; */
}

.header-bottom-panel {
  display: flex;
  flex-flow: row wrap;
  background: var(--accent-1);
  height: 16vh;
  width:100%;
  
}

.header-bottom-greeting {
  display: flex;
  align-items: center;
  width: 85%;

}

.header-bottom-avatar {
  height: 15vh;
  border-radius: 13%;
  margin:0 4vh 0 7vh;
}

.header-bottom-button-panel {
  display: flex;
  align-self: center;
}

.header-bottom-button-panel-button {
  padding: 1vh;
  margin: 0.4vh 0 0 0;
  text-transform: lowercase;
  letter-spacing: 0.07rem;
  background: transparent;
  color: var(--main);
  border-width: 0;
  border-radius: 0;
}

.header-bottom-button-panel > .header-bottom-button-panel-button:hover {
  padding-top: 10%;
  padding-bottom: 10%;
  opacity: 0.9;
  background: var(--main);
  border-radius: 3px;
  color: var(--accent-1);
    transition: background 700ms ease-out,
                color 300ms ease-out,
                padding 333ms ease-in;
}
/*******
MAIN
*******/
.main {
  display:flex;
  position:relative;
  width: 100%;
}
.main-grid {
display:grid;
grid-template-columns: 37.5% 37.5% 25%;
grid-template-rows: auto;
padding: 2vh 3vh;
width: 100%;
min-height:200px;
grid-template-areas: 
"main-grid-project-title main-grid-project-title main-grid-announcement-title"
"main-grid-project main-grid-project main-grid-announcement"
"main-grid-project main-grid-project main-grid-trending-title"
"main-grid-project main-grid-project main-grid-trending";
}

.main-grid-project { 
  display:grid;
  grid-area: main-grid-project; 
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  height: 100%;
  margin: 0;
}

.main-grid-project-title {
  color: var(--accent-1);
}

.main-grid-project-card {
    background-color: var(--accent-1);
    border-radius: 1vh;
    border-left: 12px solid var(--white);
    padding: 2vh 3vh;
    display: flex;
    flex-flow:column wrap;
    justify-content: space-around;
    gap: 2vh;
    margin: 1vh;
    width: 90%;
    height: 20vh;
    overflow: hidden;
}

.main-grid-project-description {
  display:block;
  position:relative;
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
  transition: background ease 700ms,
              padding ease 333ms;
}

.ellipsis:hover {
  overflow:hidden;
  display: block;
  position: fixed;
  white-space: normal;
  word-break:keep-all;
  color: var(--main);
  background: var(--accent-1);
  width:25vw;
  padding:1vh;
  border-radius:3px;
  height:max-content;
  float:left;
  z-index:1;
  transform: translate(-2vh,-10vh);
}

.main-grid-project-card-buttons {
  display:flex;
  flex-flow: row wrap;
  gap: 1.3vh;
  justify-content: flex-end;
  width:100%;
}

.project-card-icon {
  background: transparent;
  color: var(--white);
  border-style: hidden;
  transition: color 200ms ease-out;
}
.project-card-icon:hover {
  color: var(--main);
}

.main-grid-announcement-title {
  color: var(--accent-1);
  grid-area: main-grid-announcement-title; 
}

.main-grid-announcement { 
  display: grid;
  gap: 2vh;
  background-color: var(--accent-1);
  border-radius: 1vh;
  border-left: 12px solid var(--white);
  padding: 2vh 3vh;
  margin: 0;
  grid-area: main-grid-announcement;  
  width: 90%;
  height:100%;
}
  
.main-grid-announcement-card {
  border-bottom: 2px solid var(--white);
}
.main-grid-trending-title {
  color: var(--accent-1);
  grid-area: main-grid-trending-title; 
}
.main-grid-trending { 
  display: grid;
  gap: 2vh;
  background-color: var(--accent-1);;
  border-radius: 1vh;
  border-left: 12px solid var(--white);
  padding: 2vh 3vh;
  margin: 0;
  grid-area: main-grid-trending; 
  width: 90%;
  height:100%;
}
.main-grid-trending-card { 
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 2vh;
  align-items: center;
 }

 .trending-avatar {
    max-width: 100%;
    height: 7vh;
    object-fit: contain;
    
    border-radius: 23%;
 }
